body {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  margin: 0px 20% 5% 20%;
  display: flex;
}

#mainsection {
  margin: auto;
  width: 35%;
  height: 100%;
  background-color: rgb(30, 56, 65);
}

#icons {
  background-color: #05b4e2;
  width: 14%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
}
p {
  font-size: 13px;
}
p,
h1,
h2,
h3,
h4 {
  color: white;
}

#title {
  display: inline;
  text-transform: uppercase;
  margin-left: 20px;
  padding-top: 4px;
}

#title h1 {
  font-size: 2rem;
  margin: 0% 0% 0% 0%;
  color: rgb(226, 62, 33);
}

#title p {
  font-weight: bold;
  margin: 0% 0% 0% 0%;
  font-size: 0.85rem;

}

section {
  padding: 2%;
}

#card1 {
  display: flex;
  margin: 0% 0% 5% 0%;
}

#card1-2of1 {
  width: 50%;

  padding: 5%;
  background-color: rgb(243, 168, 7);
  text-align: center;
}
#card1-2of1 h2,
#card1-2of1 h4,
#card1-2of1 p {
  margin: 1.5%;
}

.special {
  color: rgb(226, 62, 33);
}

#card2-2of1 {
  width: 50%;
  padding: 5%;
  background-color: rgb(43, 149, 190);
  text-align: center;
}

#card2-2of1 p {
  margin: 1.5%;
}
#card2-2of1 h1 {
  text-transform: uppercase;
  margin: 1.5%;
}

#card2-2of1 h4 {
  margin: 1.5%;
}

#card2 {
  background-color: rgb(226, 62, 33);
  width: 87%;
  padding: 5%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#card2-title {
  display: flex;
}

#card3 {
  background-color: rgb(43, 149, 190);
  width: 87%;
  padding: 5%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#card3-title {
  display: flex;
}
#card3-title h3 {
  margin-left: 1%;
  margin-right: 3%;
}

#card3-content{
  display: flex;
  text-align: left;
}


#card3-1of2 {
  width: 50%;
  margin: 1%;
}

#card3-2of2 {
  width: 50%;
  margin: 1%;
}

#card4 {
  width: 97%;
  padding: 0%;
  margin: 2%;
  text-align: center;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

#card4-1of2 {
  padding: 5%;
  width: 50%;
  background-color: rgb(226, 62, 33);
}

#card4-2of2 {
  padding: 5%;
  width: 50%;
  background-color: rgb(243, 168, 7);
}

#card5 {
  margin: 2%;
  background-color: rgb(43, 149, 190);
  width:87%;
  display: flex;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#card5-2of2{
  margin: 5% 10% 0% 20%;
}

#card6 {
  background-color: rgb(243, 168, 7);
  width: 87%;
  display: flex;
  padding: 5%;
  margin: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}
#card6-2of2{
  margin: 5% 10% 0% 14%;
}

#card7 {
  text-align: center;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}

#card7-1of2 {
  padding: 5%;
  width: 50%;
  background-color: rgb(43, 149, 190);
}

#card7-2of2 {
  padding: 5%;
  width: 50%;
  background-color: rgb(226, 62, 33);
}
