body {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  margin: 0px 20% 5% 20%;
}

#mainsection {
  margin: auto;
  width: 35%;
  height: 100%;
  background-color: rgb(30, 56, 65);
}

#icons {
  background-color: #05b4e2;
  width: 14%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
}
p {
  font-size: 12px;
}
p,
h1,
h2,
h3,
h4 {
  color: white;
}

#title {
  display: inline;
  text-transform: uppercase;
}

#title h1 {
  font-size: 2rem;
  margin: 0% 0% 0% 0%;
  color: rgb(226, 62, 33);
}

#title p {
  font-weight: bold;
  margin: 0% 0% 0% 0%;
  font-size: 0.85rem;
}

section {
  padding: 2%;
}

#card1 {
  display: inline;
}

#card1-2of1 {
  width: 50%;
  margin: auto;
  padding: 5%;
  background-color: rgb(243, 168, 7);
  text-align: center;
  line-height: 1.15;
}
#card1-2of1 h2,
#card1-2of1 h4,
#card1-2of1 p {
  margin: 1.5%;
}

.special {
  color: rgb(226, 62, 33);
}

#card2-2of1 {
  width: 50%;
  margin: auto;
  padding: 5%;
  background-color: rgb(43, 149, 190);
  text-align: center;
  line-height: 1.5;
}

#card2-2of1 p {
  margin: 1.5%;
}
#card2-2of1 h1 {
  text-transform: uppercase;
  margin: 1.5%;
}

#card2-2of1 h4 {
  margin: 1.5%;
}

#card2 {
  background-color: rgb(226, 62, 33);
  width: 70%;
  margin: auto;
}

#card3 {
  background-color: rgb(43, 149, 190);
  width: 70%;
  margin: auto;
  text-align: center;
}

#card3-1of2 {
}

#card3-2of2 {
}

#card4 {
  width: 70%;
  margin: auto;
  text-align: center;
}

#card4-1of2 {
  background-color: rgb(226, 62, 33);
}

#card4-2of2 {
  background-color: rgb(243, 168, 7);
}

#card5 {
  background-color: rgb(43, 149, 190);
  width: 70%;
  margin: auto;
}

#card6 {
  background-color: rgb(243, 168, 7);
  width: 70%;
  margin: auto;
}

#card7 {
  text-align: center;
}

#card7-1of2 {
  background-color: rgb(43, 149, 190);
}

#card7-2of2 {
  background-color: rgb(226, 62, 33);
}
