#outersection {
  background-color: #303e47;
  margin-left: 30%;
  margin-right: 30%;
}
h1,
h2,
h4,
h3,
p {
  color: white;
  margin: 3px;
}

table,
tr,
td {
  border-collapse: collapse;
}

.special {
  color: #fd5866;
}
.specialfood {
  color: #ff9e1a;
}

.footersection {
  margin: 30px 30px 30px 30px;
  text-align: center;
}

#foo_sec1 {
  background-color: #13b4df;
  padding-left: 20px;
  padding-right: 20px;
}
#foo_sec2 {
  background-color: #fd5866;
  padding-left: 20px;
  padding-right: 20px;
}

#haldfpreschoolers {
  padding: 25px 40px 20px 40px;
}

#header_icon {
  padding-top: 10px;
  padding-left: 5px;
  border-radius: 50%;
  height: 30px;
  width: 35px;
  border-style: double;
  background-color: #13b4df;
}
